In [1]:
import numpy as np
import pandas as pd

In [5]:
df=pd.DataFrame(np.random.randn(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["column1","column2","column3","column4"])

In [6]:
df.head()

       column1   column2   column3   column4
Row1  0.108323 -0.321577 -0.564994 -1.796412
Row2  0.014249 -0.198544  0.202957  0.804239
Row3 -0.676582 -0.709335 -1.534230  0.320310
Row4 -0.096326  0.841706  0.603979  0.495625
Row5  1.105248 -0.279567  0.018206  0.231868

In [7]:
df['column4']

Row1   -1.796412
Row2    0.804239
Row3    0.320310
Row4    0.495625
Row5    0.231868
Name: column4, dtype: float64

In [10]:
df[['column3','column1']]

       column3   column1
Row1 -0.564994  0.108323
Row2  0.202957  0.014249
Row3 -1.534230 -0.676582
Row4  0.603979 -0.096326
Row5  0.018206  1.105248

In [11]:
df.loc['Row4']

column1   -0.096326
column2    0.841706
column3    0.603979
column4    0.495625
Name: Row4, dtype: float64

In [12]:
df.loc['Row4']

column1   -0.096326
column2    0.841706
column3    0.603979
column4    0.495625
Name: Row4, dtype: float64

In [13]:
df.iloc[:,1:3]

       column2   column3
Row1 -0.321577 -0.564994
Row2 -0.198544  0.202957
Row3 -0.709335 -1.534230
Row4  0.841706  0.603979
Row5 -0.279567  0.018206

In [14]:
df.iloc[:,1:3].values

array([[-0.3215771 , -0.56499359],
       [-0.19854391,  0.20295666],
       [-0.70933544, -1.53423031],
       [ 0.84170577,  0.60397935],
       [-0.27956671,  0.01820574]])

In [15]:
df.isnull().sum()

column1    0
column2    0
column3    0
column4    0
dtype: int64

In [16]:
df['column1'].unique()

array([ 0.1083235 ,  0.01424874, -0.6765823 , -0.09632589,  1.10524845])

In [17]:
df.describe()

        column1   column2   column3   column4
count  5.000000  5.000000  5.000000  5.000000
mean   0.090983 -0.133463 -0.254816  0.011126
std    0.644043  0.579558  0.829870  1.033838
min   -0.676582 -0.709335 -1.534230 -1.796412
25%   -0.096326 -0.321577 -0.564994  0.231868
50%    0.014249 -0.279567  0.018206  0.320310
75%    0.108323 -0.198544  0.202957  0.495625
max    1.105248  0.841706  0.603979  0.804239

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Row1 to Row5
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  5 non-null      float64
 1   column2  5 non-null      float64
 2   column3  5 non-null      float64
 3   column4  5 non-null      float64
dtypes: float64(4)
memory usage: 360.0+ bytes

In [19]:
df[df['column4']>0]

       column1   column2   column3   column4
Row2  0.014249 -0.198544  0.202957  0.804239
Row3 -0.676582 -0.709335 -1.534230  0.320310
Row4 -0.096326  0.841706  0.603979  0.495625
Row5  1.105248 -0.279567  0.018206  0.231868

In [20]:
df.corr()

          column1   column2   column3   column4
column1  1.000000  0.075621  0.494687 -0.073735
column2  0.075621  1.000000  0.812397  0.229724
column3  0.494687  0.812397  1.000000  0.292704
column4 -0.073735  0.229724  0.292704  1.000000

In [21]:
df[df['column4']>0]

       column1   column2   column3   column4
Row2  0.014249 -0.198544  0.202957  0.804239
Row3 -0.676582 -0.709335 -1.534230  0.320310
Row4 -0.096326  0.841706  0.603979  0.495625
Row5  1.105248 -0.279567  0.018206  0.231868